<h2>Edit <%= @crew.full_name %></h2>
<form method="POST" action="/crews/<%= @crew.id %>">
  <div class="crew-edit">
    <ul class="cards">  
      <li class="card">
        <ul>  
          <li><label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" value="<%= @crew.first_name %>"/></li>
          <li><label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" value="<%= @crew.last_name %>"/></li>
          <li><label for="role">Role:</label>
            <input type="text" name="role" id="role" value="<%= @crew.role %>"/></li>
          <li><label for="ship_id">Assigned to:</label>
            <% if @crew.ship_id %>
              <select name="ship_id" id="ship_id" value="<%= @crew.ship_id %>">
            <% else %>
              <select name="ship_id" id="ship_id">
            <% end %>
            <option value="--">--</option>
              <% for ship in @ships %>
                <option value=<%= ship.id %> <%= ship.id == @crew.ship_id ? "selected" : "" %>><%= ship.ship_name %></option>
              <% end %>
            </select></li>
            <% if @crew.captain_id %>
            <input type="hidden" id="captain_id" name="captain_id" value="@crew.captain_id"/>
            <% end %>
          <li><input type="submit" value="Apply Changes"/></li>
        </ul>
      </li>
    </ul>    
  </div>
</form>