<h2>Edit <%= @crew.full_name %></h2>
<form method="POST" action="/crews/<%= @crew.id %>">
  <div class="form-wrapper">
    
    <div class="form-el">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="<%= @crew.first_name %>"/>
    </div>

    <div class="form-el">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value="<%= @crew.last_name%>"/>
    </div>

    <div class="form-el">
      <lavel for="role_name">Last Name</label>
      <input type="text" name="role" id="role" value="<%= @crew.role%>"/>
    </br>
    <div class="form-el">
      <input type="submit" value="Apply Changes"/>
    </div>

  </div>
</form>