<div class ="buttons">
        <ul>
            <li><a href="/crews/new">Add New Crewman</a></li>
            <li><a href="/">Go Home</a></li>
    </div>


<div class="crew">
    <ul class ="cards"> <% for crew in @crews %>
        <li class="card">
            <ul>
                <li><img src="" alt="placeholder"></li>
                <li><h2 "href=/crew/<%= crew.id %>"><%= crew.full_name%>    </h2></li>
                <li>Assigned to: <% if crew.ship_id %>
                        <%= crew.ship.ship_name %>
                    <% else %>None
                    <% end %></li>
                <li>Role: <%= crew.role %></li>
                <li><a href="/crews/<%= crew.id%>">Show Details</a></li>
            </ul>
        </li>
    <% end %></ul>
    </div>
</div>