<div id="crew-wrapper">
    <% for crew in @crews %>

    <div class="crew">
        <h2><a "href=/crew/<%= crew.id %>"><%= crew.full_name%></a></h2>
        <p>Assigned to: <% if crew.ship_id %>
                        <%= crew.ship.ship_name %>
                    <% else %>None
                    <% end %></p>
        <p>Role: <%= crew.role %></p>
    </div>

    <p><a href="/crews/<%= crew.id%>">Show Details</a></p>
    
    <% end %>

    <a href="/crews/new">Add New Crew Member</a>
    </br>
    </br>
    <a href="/">Go Home</a>

</div>