<h1>OREK DRIVE YARDS Inc</h1>

<p> <a href="/ships">View All Ships</a></p>
<p> <a href="/captains">View All Captains</a><p>
<p> <a href="/crews">View All Crews</a><p>

<form method="POST" action="/">
<div class="search">
  <p>Search for...</p>
   <input id="query" name="query" type="text" placeholder="Search...">
  <button type="submit">
    <i class="fa fa-search">...</i>
  </button>
</div>
</form>

<div class="results">
    <% for ship in @ships %>
       <h1><%= ship['model'] %></h1>
       <ul>
          <li>Class: <%= ship['class'] %></li>
          <li>Status: <%= ship['sales_status']%></li>
          <li><a href="/ships/<%= ship['id'] %>">Show Details</a></li>
        </ul>
    <% end %>

    <% for captain in @captains %>
        <h1><%= captain['first_name']+' '+captain['last_name'] %></h1>
       <ul>
          <li><a href="/captains/<%= captain['id'] %>">Show Details</a></li>
       </ul>
    <% end %>

    <% for crew in @crews %>
        <h1><%= crew['first_name']+' '+crew['last_name'] %></h1>
        <ul>
        <li><a href="/crews/<%= crew['id'] %>">Show Details</a></li>
        </ul>
    <% end %>
</div>
