<form id= "search-form" method="POST" action="/">
   <div class="search">
   <input id="query" name="query" class= "round" type="text" placeholder="Type something to search...">
  <input type="submit" class="corner" value="">
</div>
</form>

<div class="results">
    <ul class="cards"><% for ship in @ships %>
      <li class="card">
        <ul>
          <li><img src="" alt="placeholder"></li>
          <li><h2><%= ship['model'] %></h2></li>
          <li>Class: <%= ship['class'] %></li>
          <li>Status: <%= ship['sales_status']%></li>
          <li><a href="/ships/<%= ship['id'] %>">Show Details</a></li>
        </ul>
      </li>
     <% end %></ul>
   

    
      <ul class="cards"><% for captain in @captains %>
        <li class="card">
          <ul>
            <li><img src="" alt="placeholder"></li>
            <li><h2><%= captain['first_name']+' '+captain['last_name'] %></h2></li>
                <% @captain = Captain.find(captain['id']) %>
                <% if @captain.ship_id %>
            <li>Ship: <%= @captain.ship.ship_name %></li>
            <% end %>
            <li><a href="/captains/<%= captain['id'] %>">Show Details</a></li> 
          </ul>
        </li>
      <% end %></ul>

       <ul class="cards"><% for crew in @crews %>
        <li class="card">
          <ul>
            <li><img src="" alt="placeholder"></li>
            <li><% if crew['last_name'] %>
              <h2><%= crew['first_name']+' '+crew['last_name'] %></h2>
              <% else %>
              <h2><%= crew['first_name'] %></h2>
            <% end %>
            </li>
            <li>Assigned to: <% if crew['ship_id'] %>
              <%= Ship.find(crew['ship_id']).ship_name %>
              <% else %>None
              <% end %>
            </li>
            <li>Role: <%= crew['role']%>
            </li>
            <li><a href="/crews/<%= crew['id'] %>">Show Details</a>
            </li>
         </ul>
        </li>
      <% end %></ul>
</div>
