<h2><%= @ship.ship_name%></h2>
<p>CAPTAIN: <% if @ship.captain_id %>
                <%= @ship.captain.full_name %>
                <% else %>None
            <% end %></p>
<p>MODEL: <%= @ship.model%></p>
<p>CLASS: <%= @ship.class%></p>
<p>RECEIVED ON: <%= @ship.arrival_date%></p>
<p>STATUS: <%= @ship.sales_status%></p>

<a href="/ships/<%= @ship.id %>/edit">Edit</a>
</br>
</br>
<form action="/ships/<%= @ship.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<p><a href="/ships">Return</a></p>